<% item.photos.each_with_index do |photo, index| %>
  <% if index == 0 %>
    <%= link_to item_path(item) do%>
      <div class="drum-card container">
        <%= cl_image_tag photo.key %>
        <div class="overlay">
          <div class="text">
            <p>
              <span class="item-name"><%= item.name %></span><br>
              from <%= item.brand %><br>
              $<%= item.price %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

