<%= render 'shared/navbar' %>
<div class="SLIDE_BG">
  <h2>Drum FX</h2>
</div>

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "bannerdrum.png" , class: "d-block w-100 SLIDE_BG" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'fullsizeoutput_295.jpeg' , class: "d-block w-100 SLIDE_BG" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'fullsizeoutput_695.jpeg' , class: "d-block w-100 SLIDE_BG" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'fullsizeoutput_f8.jpeg' , class: "d-block w-100 SLIDE_BG" %>
    </div>
  </div>
</div> -->

<div class="container my-5 navbar-font">
  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Drum Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="kits-tab" data-toggle="tab" href="#kits" role="tab" aria-controls="kits" aria-selected="false">Kits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="snares-tab" data-toggle="tab" href="#snares" role="tab" aria-controls="snares" aria-selected="false">Snares</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cymbals-tab" data-toggle="tab" href="#cymbals" role="tab" aria-controls="cymbals" aria-selected="false">Cymbals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="hardware-tab" data-toggle="tab" href="#hardware" role="tab" aria-controls="hardware" aria-selected="false">Hardware</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="misc-tab" data-toggle="tab" href="#misc" role="tab" aria-controls="misc" aria-selected="false">Misc</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="container my-5">
        <div class="cards">
          <% @items.each do |item| %>
            <%= render partial: 'items', locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="kits" role="tabpanel" aria-labelledby="kits-tab">
      <div class="container my-5">
        <div class="cards">
          <% @items.where(category: 'Kit').each do |item| %>
            <%= render partial: 'items', locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="snares" role="tabpanel" aria-labelledby="snares-tab">
      <div class="container my-5">
        <div class="cards">
          <% @items.where(category: 'Snare').each do |item| %>
            <%= render partial: 'items', locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="cymbals" role="tabpanel" aria-labelledby="cymbals-tab">
      <div class="container my-5">
        <div class="cards">
          <% @items.where(category: 'Cymbal').each do |item| %>
            <%= render partial: 'items', locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="hardware" role="tabpanel" aria-labelledby="hardware-tab">
      <div class="container my-5">
        <div class="cards">
          <% @items.where(category: 'Hardware').each do |item| %>
            <%= render partial: 'items', locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="misc" role="tabpanel" aria-labelledby="misc-tab">
      <div class="container my-5">
        <div class="cards">
          <% @items.where(category: 'Misc').each do |item| %>
            <%= render partial: 'items', locals: { item: item } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


