<%= render 'shared/navbar' %>
<div class="banner title-font">
  <h2>Drum FX</h2>
</div>

<div class="container my-5 navbar-font">
  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Drum Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="kits-tab" data-toggle="tab" href="#kits" role="tab" aria-controls="kits" aria-selected="false">Kits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="snares-tab" data-toggle="tab" href="#snares" role="tab" aria-controls="snares" aria-selected="false">Snares</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cymbals-tab" data-toggle="tab" href="#cymbals" role="tab" aria-controls="cymbals" aria-selected="false">Cymbals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="hardware-tab" data-toggle="tab" href="#hardware" role="tab" aria-controls="hardware" aria-selected="false">Hardware</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="misc-tab" data-toggle="tab" href="#misc" role="tab" aria-controls="misc" aria-selected="false">Misc</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><%= render 'items' %></div>
    <div class="tab-pane fade" id="kits" role="tabpanel" aria-labelledby="kits-tab"><%= render 'kits' %></div>
    <div class="tab-pane fade" id="snares" role="tabpanel" aria-labelledby="snares-tab"><%= render 'snares' %></div>
    <div class="tab-pane fade" id="cymbals" role="tabpanel" aria-labelledby="cymbals-tab"><%= render 'cymbals' %></div>
    <div class="tab-pane fade" id="hardware" role="tabpanel" aria-labelledby="hardware-tab"><%= render 'hardwares' %></div>
    <div class="tab-pane fade" id="misc" role="tabpanel" aria-labelledby="misc-tab"><%= render 'misc' %></div>
  </div>
</div>


