

<div class="container p-5" style="width: 50vh;">
  <h1 class="text-center">New item</h1>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :brand %>
    <%= f.input :condition %>
    <%= f.input :details %>
    <%= f.input :price %>
    <%= f.input :photos , as: :file, input_html: { multiple: true } %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
