<%= render 'shared/navbarB' %>
<div class="container d-flex justify-content-between">
  <div class="drum-pictures">
    <%= render "carousel" %>
  </div>
  <div class="description">
    <h1 p-5><%= @item.name %></h1>
    <h2><%= @item.brand %></h2>
    <h3><%= @item.details %></h3>
    <h3><%= @item.condition %></h3>
    <h4><%= @item.price %></h4>
  </div>
</div>
