<%= render 'shared/navbarB' %>
<div class="container">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="drum-pictures col-sm-12 col-lg-5">
      <%= render "carousel2" %>
    </div>

    <div class="description col-sm-12 col-lg-5">
        <h1><span class="half_background"><%= @item.name %></span></h1>
        <p>from <%= @item.brand %></p>
        <p class="drum-details"><%= @item.details %></p>
        <p class="drum-price"><%= @item.price %></p>
        <p><span>Condition:</span> <%= @item.condition %></p>

        <%= link_to 'Contact us', "#", class: 'btn btn-dark'%>
    </div>
  </div>
</div>

<div class="container">
  <% if user_signed_in? %>
    <%= link_to "edit", edit_item_path(@item) %>
    <%= link_to "delete", item_path(@item), method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
</div>
